/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

.open {
    position: fixed;
    color: black;
    font-size: 20px;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.open:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Avenir, sans-serif;
    scroll-behavior: smooth;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section h2 {
    font-size: 5vw;
}

section:nth-of-type(1) {
    background-image: url(https://i.pinimg.com/originals/e1/b5/4a/e1b54a8740cc407401e9309ee37d059a.gif);
    color: #fff;	
}

section:nth-of-type(3) {
    background-image: url(https://66.media.tumblr.com/6c2fb6d67efbae574790a84e61c57b67/tumblr_p5tafsizvE1wgwg1oo3_500.gif);
    color: #fff;	
}

section:nth-of-type(5) {
    background-image: url(https://thumbs.gfycat.com/KeenGratefulBoutu-size_restricted.gif);
    color: #fff;	
}

#panelnav {
    position: fixed;
    top: 0;
    right: 0;
}

/* a more attractive option, at the cost of losing some accessibility 
input[type="radio"] {
display:none;
}
label {
display:inline-block;
height: 1vw;
width: 1vw;
border-radius: 50%;
border: 3px double rgba(0,0,0,0.6);
margin: .5vw;
transition: .3s background;
cursor: pointer;
}
input[type="radio"]:checked + label, {
background-color: red;
} 
*/

.bottom {
    height: 100px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exit {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.exit:hover {
    opacity: 0.8;
}