* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body, .container {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 10px;
}

.card {
    border-radius: 5px; 
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px black;
    color: white;
    transition: all 0.5s ease-in-out;
}

/* 1 & 10 */
.card-1, .card-10 {
    background-color: #ffa500;
}
/* 2 & 14 */
.card-2, .card-14 {
    background-color: #ff0000;
}
/* 7 & 16 */
.card-7, .card-16 {
    background-color: #002bff;
}
/* 4 & 8 */
.card-4, .card-8 {
    background-color: 	#06a500;
}
/* 13 & 3 */
.card-13, .card-3 {
    background-color: #fdff00;
}
/* 6 & 11 */
.card-6, .card-11 {
    background-color: #ee82ee;
}
/* 5 & 12 */
.card-5, .card-12 {
    background-color: #4b0082;
}
/* 9 & 15 */
.card-9, .card-15 {
    background-color: #40e0d0;
}

.unselected {
    background-color: black;
}

.unselected i {
    display: none;
}