* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, black, grey, black)
}

h1 {
  text-align: center;
  padding: 200px;
}

.nav-color {
  background-color: black;
  position: relative;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #e0e0e0;
  border-bottom: 3px solid white;
}

@media (max-width: 650px) {
  .nav {
    height: 120px;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav-item {
    padding: 5px;
  }
  .nav-header {
    margin-left: 5px;
  }
  h1 {
    padding: 100px 10px 0px 10px;
  }
}
