* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS'
}

body {
  background-color: black; 
}

h1 {
  text-align: center;
  padding: 50px;
}

.nav-color {
  background-color: rgba(45, 45, 45, 0.98);
  position: relative;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #e0e0e0;
  border-bottom: 3px solid white;
}

.link {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  transition: all 1s ease;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.card-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-item {
  border: rgba(45, 45, 45, 0.98) 2px solid;
  width: 47%;
  margin: 20px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.card-description {
  text-align: center;
  text-decoration: bold;
  font-size: 30px;
}

.card-description-2 {
  text-align: center;
}

@media (max-width: 650px) {
  .nav {
    height: 80px;
    display:flex;
    flex-direction: column;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nav-item {
    padding: 5px;
  }
  .nav-header {
    margin-left: 5px;
  }
  h1 {
    padding: 100px 10px 0px 10px;
  }
}
