* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section h2 {
  font-size: 5vw;
}

section:nth-of-type(1) {
  background-image: url(https://thumbs.gfycat.com/SingleIndolentCob-size_restricted.gif);
  color: #fff;
}

section:nth-of-type(3) {
  background-image: url(https://i.pinimg.com/originals/13/6f/d6/136fd6182b81bd7640774e7964afe565.gif);
  color: #fff;
}

section:nth-of-type(5) {
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/951845529586843907/A0DACA22964EB6796DD81705423072BDF823D4B3/);
  color: #fff;
}

section:nth-of-type(7) {
  background-image: url(https://static.comicvine.com/uploads/original/11113/111131427/6695044-5757450304-dragon.jpeg);
  color: black;
}

#panelnav {
  position: fixed;
  top: 0;
  right: 0;
}

/* a more attractive option, at the cost of losing some accessibility 
input[type="radio"] {
display:none;
}
label {
display:inline-block;
height: 1vw;
width: 1vw;
border-radius: 50%;
border: 3px double rgba(0,0,0,0.6);
margin: .5vw;
transition: .3s background;
cursor: pointer;
}
input[type="radio"]:checked + label, {
background-color: red;
} 
*/


@media (max-width: 800px) {
  section {
    background-size: cover;
  }
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
}

.nav-color {
  background-color: rgba(45, 45, 45, 0.98);
  position: relative;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-left: 31px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-right: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #e0e0e0;
  border-bottom: 2px solid white;
}

@media (max-width: 800px) {
    .nav {
    display:flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        padding: 0;
    }
}
