* {
    color: white;
    font-family: Arial;
}

body {
    background-color: black;
}

.image {
    display: block;
    align-content: center;
    width: 100%;
}

.nav-color {
    background-color: rgba(45, 45, 45, 0.98)
}
    
.nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
    
.nav-list {
    list-style-type: none;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    padding: 10px;
}
    
.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
    
.nav-link:hover {
    color: #E0E0E0;
    border-bottom: 3px solid white;
    padding: 10px;
}