* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.app {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 7fr
}

.question-section {
    background-color: #e2e2e2;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.question {
    font-size: 50px;
}

.options-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.option {
    font-size: 40px;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    color: white;
}

.option:hover {
    opacity: 0.9;
    font-size: 45px;
}

.option-1 {
    background-color: red;
}

.option-2 {
    background-color: blue;
}

.option-3 {
    background-color: green;
}

.option-4 {
    background-color: yellow;
}