body {
    background-color: black;
}

h1 {
    color: red;
    font-family: broadway;
    font-size: 50px;
    text-decoration: underline;
}

h2, h3, h4, h5, h6 {
    color: white;
}

ul {
    color: white;
}

p {
    font-family: sans-seriff;
    font-weight: bold;   
    color: white;
}

.nav {
    background-color: rgba(45, 45, 45, 0.98);
    position: sticky;
    top: 0;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
    height: 44px;
}

.nav-item {
    margin: auto;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.nav-link:hover {
    opacity: 0.5;
    text-decoration: underline; 
}

.pointing {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}